<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- include the manipulator xacro -->
    <xacro:include filename="$(find teleopvr_description)/urdf/teleopvr_manipulator_macro.xacro"/>

    <!-- macro defining the whole robot -->
    <xacro:macro name="teleopvr" params="prefix">
        <xacro:teleopvr_manipulator prefix="${prefix}" />
    </xacro:macro>
</robot>